// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

:root {
  --font-family: "Manrope", BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: Manrope, Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
  --font-size-small: 12px;

  --primary-color-dark: RGBA(219, 189, 130, 100%);
  --primary-color-normal: RGBA(219, 189, 130, 80%);
  --primary-color-light: RGBA(219, 189, 130, 60%);
  --primary-color-xlight: RGBA(219, 189, 130, 40%);

  --secondary-color-dark: RGBA(29, 51, 48, 100%);
  --secondary-color-normal: RGBA(29, 51, 48, 80%);
  --secondary-color-light: RGBA(29, 51, 48, 60%);
  --secondary-color-xlight: RGBA(29, 51, 48, 40%);

  --black-color-dark: RGBA(22, 21, 21, 100%);
  --black-color-normal: RGBA(22, 21, 21, 80%);
  --black-color-light: RGBA(22, 21, 21, 60%);

  --gray-color-dark: RGBA(219, 221, 220, 100%);
  --gray-color-normal: RGBA(219, 221, 220, 80%);
  --gray-color-light: RGBA(219, 221, 220, 60%);

  --header-bg-dark: black;
  --header-bg-light: white;

  --home-link-hover-color: var(--primary-color-dark);

  --button-color: #efe2ca;
  --button-alternate-color: #dbbd82;

  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: var(secondary-color-dark);

  --header-height-desktop: 7rem;

  --page-max-width: 768px;
}
