:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --primary-color-darker: #2b7ee2;
  --primary-color-dark: #308eff;
  --primary-color-normal: #b6d6fd;
  --primary-color-light: #e5f1ff;

  --text-color-dark: #313131;
  --text-color-normal: #6e6e6e;

  --border-color-dark: #cfcfcf;
  --border-color-normal: #ededed;

  --page-max-width: 1140px;
  --header-height-desktop: 110px;

  ///////////////////////
  /* blue-column-width */
  --bcw: 5.933%;
  /* white-column-width */
  --wcw: 2.617%;
}
